<div class="ad">
<script type="text/javascript">
	atOptions = {
		'key' : '0c9d6daa95659d7574a12c0286c8b2b1',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.madcpms.com/0c9d6daa95659d7574a12c0286c8b2b1/invoke.js"></scr' + 'ipt>');
</script>
</div>

<div>
  <a onclick="print()" class="print pure-button pure-button-primary">imprimir sem propaganda</a>
</div>

<div class="pure-g table" id="table">
</div>
